Repository snuhcs-course/swpp-2023-project-team-16, pull requests merged in 2023-11, with the labels that each got.

#22 design: info, timetable 간단 수정
  frontend/app/src/main/java/com/example/shattle/ui/timetable/TimetableFragment.kt
  frontend/app/src/main/res/drawable/img_info_map.jpg
  frontend/app/src/main/res/drawable/img_timetable_view.jpg
  frontend/app/src/main/res/layout/dialog_info.xml
  frontend/app/src/main/res/layout/fragment_timetable.xml
  frontend/app/src/main/res/values/strings.xml
Labels: frontend

#21 feat: make app for driver
  driverapp/app/src/main/AndroidManifest.xml
  driverapp/app/src/main/java/com/example/driverapp/ApiService.kt
  driverapp/app/src/main/java/com/example/driverapp/GPSData.kt
  driverapp/app/src/main/java/com/example/driverapp/GPSTracker.kt
  driverapp/app/src/main/java/com/example/driverapp/MainActivity.kt
  driverapp/app/src/main/res/layout/activity_main.xml
Labels: driverapp

#25 feat : GET /circular/location API 구현
  Backend/shattlebus/circular/views.py
Labels: backend

#26 feat: frontend server connection (drop-off)
  frontend/app/src/main/java/com/example/shattle/MainActivity.kt
  frontend/app/src/main/java/com/example/shattle/data/models/Bus.kt
  frontend/app/src/main/java/com/example/shattle/data/models/CircularBus.kt
  frontend/app/src/main/java/com/example/shattle/data/models/CurrentLine.kt
  frontend/app/src/main/java/com/example/shattle/data/models/ResponseWaitingLine.kt
  frontend/app/src/main/java/com/example/shattle/data/models/RunningBuses.kt
  frontend/app/src/main/java/com/example/shattle/network/ApiService.kt
  frontend/app/src/main/java/com/example/shattle/network/ServiceCreator.kt
  frontend/app/src/main/java/com/example/shattle/placeholder/PlaceholderContent.kt
  frontend/app/src/main/java/com/example/shattle/ui/circular/CircularData.kt
  frontend/app/src/main/java/com/example/shattle/ui/circular/CircularFragment.kt
  frontend/app/src/main/java/com/example/shattle/ui/circular/CircularUI.kt
  frontend/app/src/main/java/com/example/shattle/ui/circular/CircularUIState.kt
  frontend/app/src/main/java/com/example/shattle/ui/circular/CircularViewModel.kt
  frontend/app/src/main/java/com/example/shattle/ui/circular/RunningBusesDataSource.kt
  frontend/app/src/main/java/com/example/shattle/ui/circular/RunningBusesRepository.kt
  frontend/app/src/main/java/com/example/shattle/ui/circular/RunningBusesUseCase.kt
  frontend/app/src/main/java/com/example/shattle/ui/dropoff/CurrentLineDataSource.kt
  frontend/app/src/main/java/com/example/shattle/ui/dropoff/CurrentLineRepository.kt
  frontend/app/src/main/java/com/example/shattle/ui/dropoff/CurrentLineUseCase.kt
  frontend/app/src/main/java/com/example/shattle/ui/dropoff/DropoffFragment.kt
  frontend/app/src/main/java/com/example/shattle/ui/dropoff/DropoffUI.kt
  frontend/app/src/main/java/com/example/shattle/ui/dropoff/DropoffUIState.kt
  frontend/app/src/main/java/com/example/shattle/ui/dropoff/DropoffViewModel.kt
  frontend/app/src/main/java/com/example/shattle/ui/station/StationData.kt
  frontend/app/src/main/java/com/example/shattle/ui/station/StationFragment.kt
  frontend/app/src/main/res/layout/fragment_circular.xml
  frontend/app/src/main/res/layout/fragment_dropoff.xml
  frontend/app/src/main/res/menu/bottom_nav_menu.xml
  frontend/app/src/main/res/navigation/mobile_navigation.xml
Labels: frontend

#28 Feature/add updated at
  Backend/shattlebus/dropoff/views.py
  Backend/shattlebus/shattlebus/settings.py
  Backend/shattlebus/timetable/__init__.py
  Backend/shattlebus/timetable/admin.py
  Backend/shattlebus/timetable/apps.py
  Backend/shattlebus/timetable/migrations/__init__.py
  Backend/shattlebus/timetable/models.py
  Backend/shattlebus/timetable/tests.py
  Backend/shattlebus/timetable/views.py
Labels: backend

#29 Feature/add error response
  Backend/shattlebus/circular/urls.py
  Backend/shattlebus/circular/views.py
  Backend/shattlebus/driverapp/views.py
  Backend/shattlebus/dropoff/views.py
Labels: backend

#33 test : driverapp
  Backend/shattlebus/circular/tests.py
  Backend/shattlebus/driverapp/tests.py
  Backend/shattlebus/dropoff/tests.py
Labels: backend

#37 feat: 순환셔틀 페이지 기능 향상 (+call 동기화)
  frontend/app/build.gradle.kts
  frontend/app/src/main/java/com/example/shattle/data/models/Bus.kt
  frontend/app/src/main/java/com/example/shattle/network/NetworkCallback.kt
  frontend/app/src/main/java/com/example/shattle/network/ServiceCreator.kt
  frontend/app/src/main/java/com/example/shattle/ui/circular/CircularFragment.kt
  frontend/app/src/main/java/com/example/shattle/ui/circular/CircularUI.kt
  frontend/app/src/main/java/com/example/shattle/ui/circular/CircularUIState.kt
  frontend/app/src/main/java/com/example/shattle/ui/circular/CircularUtils.kt
  frontend/app/src/main/java/com/example/shattle/ui/circular/CircularViewModel.kt
  frontend/app/src/main/java/com/example/shattle/ui/circular/RunningBusesRepository.kt
  frontend/app/src/main/java/com/example/shattle/ui/circular/RunningBusesUseCase.kt
  frontend/app/src/main/java/com/example/shattle/ui/dropoff/CurrentLineRepository.kt
  frontend/app/src/main/java/com/example/shattle/ui/dropoff/CurrentLineUseCase.kt
  frontend/app/src/main/java/com/example/shattle/ui/dropoff/DropoffFragment.kt
  frontend/app/src/main/java/com/example/shattle/ui/dropoff/DropoffUI.kt
  frontend/app/src/main/java/com/example/shattle/ui/dropoff/DropoffViewModel.kt
  frontend/app/src/main/res/drawable/btn_circular_gps_false.xml
  frontend/app/src/main/res/drawable/btn_circular_gps_true.xml
  frontend/app/src/main/res/drawable/img_circular_bus.xml
  frontend/app/src/main/res/drawable/img_circular_bus_stop.xml
  frontend/app/src/main/res/drawable/img_circular_load_direction.xml
  frontend/app/src/main/res/drawable/img_circular_route_direction.xml
  frontend/app/src/main/res/layout/fragment_circular.xml
  frontend/app/src/main/res/values/colors.xml
  frontend/app/src/main/res/values/dimens.xml
  frontend/app/src/main/res/values/strings.xml
  frontend/app/src/main/res/values/themes.xml
Labels: frontend
