Repository snuhcs-course/swpp-2023-project-team-16, pull requests merged in 2023-10, with the labels that each got.

#3 init : create pr-template
  .github/pull_request_template.md
Labels: pm

#8 design: theme
  frontend/app/src/main/java/com/example/shattle/ui/lostnfound/ItemAdapter.kt
  frontend/app/src/main/res/layout/activity_main.xml
  frontend/app/src/main/res/layout/fragment_circular.xml
  frontend/app/src/main/res/layout/fragment_info.xml
  frontend/app/src/main/res/layout/fragment_lost_item.xml
  frontend/app/src/main/res/layout/fragment_lostnfound.xml
  frontend/app/src/main/res/layout/fragment_station.xml
  frontend/app/src/main/res/layout/fragment_timetable.xml
  frontend/app/src/main/res/values-night/themes.xml
  frontend/app/src/main/res/values/colors.xml
  frontend/app/src/main/res/values/dimens.xml
  frontend/app/src/main/res/values/strings.xml
  frontend/app/src/main/res/values/themes.xml
Labels: frontend

#6 Feature/make dropoff api
  Backend/shattlebus/dropoff/models.py
  Backend/shattlebus/dropoff/views.py
  Backend/shattlebus/lostitem/models.py
  Backend/shattlebus/shattlebus/urls.py
  Backend/shattlebus/timetable/urls.py
  Backend/shattlebus/timetable/views.py
Labels: backend

#10 init: make requirements.txt file
  Backend/shattlebus/requirements.txt
Labels: documentation

#9 feat : ML Human-detection 초안 구현
  Object dection using image/1.png
  Object dection using image/2.png
  Object dection using image/images/baggage_claim.jpg
  Object dection using image/images/dining_table.jpg
  Object dection using image/images/living_room.jpg
  Object dection using image/images/soccer.jpg
  Object dection using image/yolo.py
Labels: backend

#11 Feature/driverapp
  .gitignore
  driverapp/.idea/compiler.xml
  driverapp/app/build.gradle.kts
  driverapp/app/proguard-rules.pro
  driverapp/app/src/androidTest/java/com/example/driverapp/ExampleInstrumentedTest.kt
  driverapp/app/src/main/AndroidManifest.xml
  driverapp/app/src/main/java/com/example/driverapp/ApiService.kt
  driverapp/app/src/main/java/com/example/driverapp/GPSData.kt
  driverapp/app/src/main/java/com/example/driverapp/GPSTracker.kt
  driverapp/app/src/main/java/com/example/driverapp/MainActivity.kt
  driverapp/app/src/main/res/drawable/ic_launcher_background.xml
  driverapp/app/src/main/res/drawable/ic_launcher_foreground.xml
  driverapp/app/src/main/res/layout/activity_main.xml
  driverapp/app/src/main/res/mipmap-anydpi/ic_launcher.xml
  driverapp/app/src/main/res/mipmap-anydpi/ic_launcher_round.xml
  driverapp/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  driverapp/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  driverapp/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  driverapp/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  driverapp/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  driverapp/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  driverapp/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  driverapp/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  driverapp/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  driverapp/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  driverapp/app/src/main/res/values-night/themes.xml
  driverapp/app/src/main/res/values/colors.xml
  driverapp/app/src/main/res/values/strings.xml
  driverapp/app/src/main/res/values/themes.xml
  driverapp/app/src/main/res/xml/backup_rules.xml
  driverapp/app/src/main/res/xml/data_extraction_rules.xml
  driverapp/app/src/test/java/com/example/driverapp/ExampleUnitTest.kt
  driverapp/build.gradle.kts
  driverapp/gradle.properties
  driverapp/gradle/wrapper/gradle-wrapper.jar
  driverapp/gradle/wrapper/gradle-wrapper.properties
  driverapp/gradlew
  driverapp/gradlew.bat
  driverapp/settings.gradle.kts
  frontend/app/src/main/java/com/example/shattle/ui/circular/CircularData.kt
  frontend/app/src/main/java/com/example/shattle/ui/circular/CircularFragment.kt
Labels: frontend

#14 refactor: (frontend) delete addtional features
  frontend/app/src/main/java/com/example/shattle/MainActivity.kt
  frontend/app/src/main/java/com/example/shattle/ui/circular/CircularData.kt
  frontend/app/src/main/java/com/example/shattle/ui/congestion/CongestionGraphFragment.kt
  frontend/app/src/main/java/com/example/shattle/ui/lostnfound/ItemAdapter.kt
  frontend/app/src/main/java/com/example/shattle/ui/lostnfound/LostnfoundFragment.kt
  frontend/app/src/main/java/com/example/shattle/ui/station/StationFragment.kt
  frontend/app/src/main/java/com/example/shattle/ui/timetable/TimetableFragment.kt
  frontend/app/src/main/java/com/example/shattle/ui/timetable/TimetableViewModel.kt
  frontend/app/src/main/res/layout/fragment_congestion_graph.xml
  frontend/app/src/main/res/layout/fragment_lost_item.xml
  frontend/app/src/main/res/layout/fragment_lostnfound.xml
  frontend/app/src/main/res/layout/fragment_station.xml
  frontend/app/src/main/res/menu/bottom_nav_menu.xml
  frontend/app/src/main/res/navigation/mobile_navigation.xml
Labels: frontend

#15 refactor: frontend
  frontend/app/src/main/java/com/example/shattle/MainActivity.kt
  frontend/app/src/main/java/com/example/shattle/data/models/ResponseCongestion.kt
  frontend/app/src/main/java/com/example/shattle/network/ApiService.kt
  frontend/app/src/main/java/com/example/shattle/network/ServiceCreator.kt
  frontend/app/src/main/java/com/example/shattle/ui/circular/CircularData.kt
  frontend/app/src/main/java/com/example/shattle/ui/circular/CircularFragment.kt
  frontend/app/src/main/java/com/example/shattle/ui/info/InfoDialog.kt
  frontend/app/src/main/res/drawable/btn_chart.xml
  frontend/app/src/main/res/drawable/btn_chart_2.xml
  frontend/app/src/main/res/drawable/btn_refresh_2.xml
  frontend/app/src/main/res/drawable/ic_circular.xml
  frontend/app/src/main/res/drawable/ic_lostnfound.xml
  frontend/app/src/main/res/drawable/img_bus.png
  frontend/app/src/main/res/drawable/img_bus_stop.xml
  frontend/app/src/main/res/drawable/img_circular_bus.png
  frontend/app/src/main/res/drawable/img_circular_bus_stop.png
  frontend/app/src/main/res/drawable/img_error.xml
  frontend/app/src/main/res/drawable/img_line_map.xml
  frontend/app/src/main/res/drawable/img_loading.xml
  frontend/app/src/main/res/drawable/img_station_bus.xml
  frontend/app/src/main/res/drawable/img_station_bus_stop.xml
  frontend/app/src/main/res/drawable/img_station_divider.xml
  frontend/app/src/main/res/drawable/img_station_road.xml
  frontend/app/src/main/res/drawable/img_station_waiting_man.xml
  frontend/app/src/main/res/drawable/img_waiting_people_left.xml
  frontend/app/src/main/res/drawable/img_waiting_people_right.xml
  frontend/app/src/main/res/layout/dialog_info.xml
  frontend/app/src/main/res/values/strings.xml
Labels: frontend

#16 Feature/backend deploy
  .gitignore
  Backend/shattlebus/shattlebus/settings.py
Labels: backend

#18 Feature/remove redundant codes
  Backend/shattlebus/circular/admin.py
  Backend/shattlebus/circular/models.py
  Backend/shattlebus/dropoff/models.py
  Backend/shattlebus/lostitem/__init__.py
  Backend/shattlebus/lostitem/admin.py
  Backend/shattlebus/lostitem/apps.py
  Backend/shattlebus/lostitem/migrations/0001_initial.py
  Backend/shattlebus/lostitem/migrations/__init__.py
  Backend/shattlebus/lostitem/models.py
  Backend/shattlebus/lostitem/tests.py
  Backend/shattlebus/lostitem/urls.py
  Backend/shattlebus/lostitem/views.py
  Backend/shattlebus/shattlebus/settings.py
Labels: backend

#19 fix: 제거한 파일 관련 불필요 코드 삭제, 마이그레이션 추가
  Backend/shattlebus/circular/migrations/0002_delete_circularbusstop.py
  Backend/shattlebus/dropoff/migrations/0002_delete_congestion.py
  Backend/shattlebus/dropoff/urls.py
  Backend/shattlebus/dropoff/views.py
  Backend/shattlebus/lostitem/migrations/0002_lostitem_delete_test.py
  Backend/shattlebus/shattlebus/urls.py
Labels: backend

#20 Feature: station data view design
  frontend/app/src/main/java/com/example/shattle/MainActivity.kt
  frontend/app/src/main/java/com/example/shattle/data/models/ResponseCongestion.kt
  frontend/app/src/main/java/com/example/shattle/network/ApiService.kt
  frontend/app/src/main/java/com/example/shattle/network/ServiceCreator.kt
  frontend/app/src/main/java/com/example/shattle/ui/circular/CircularData.kt
  frontend/app/src/main/java/com/example/shattle/ui/circular/CircularFragment.kt
  frontend/app/src/main/java/com/example/shattle/ui/info/InfoDialog.kt
  frontend/app/src/main/java/com/example/shattle/ui/station/StationData.kt
  frontend/app/src/main/java/com/example/shattle/ui/station/StationFragment.kt
  frontend/app/src/main/res/drawable/bck_refresh_button_rounded.xml
  frontend/app/src/main/res/drawable/btn_chart.xml
  frontend/app/src/main/res/drawable/btn_chart_2.xml
  frontend/app/src/main/res/drawable/btn_refresh.xml
  frontend/app/src/main/res/drawable/btn_refresh_2.xml
  frontend/app/src/main/res/drawable/ic_circular.xml
  frontend/app/src/main/res/drawable/ic_lostnfound.xml
  frontend/app/src/main/res/drawable/img_bus.png
  frontend/app/src/main/res/drawable/img_bus_stop.xml
  frontend/app/src/main/res/drawable/img_circular_bus.png
  frontend/app/src/main/res/drawable/img_circular_bus_stop.png
  frontend/app/src/main/res/drawable/img_error.xml
  frontend/app/src/main/res/drawable/img_line_map.xml
  frontend/app/src/main/res/drawable/img_loading.xml
  frontend/app/src/main/res/drawable/img_station_bus.xml
  frontend/app/src/main/res/drawable/img_station_bus_stop.xml
  frontend/app/src/main/res/drawable/img_station_divider.xml
  frontend/app/src/main/res/drawable/img_station_road.xml
  frontend/app/src/main/res/drawable/img_station_waiting_man.xml
  frontend/app/src/main/res/drawable/img_waiting_people_left.xml
  frontend/app/src/main/res/drawable/img_waiting_people_right.xml
  frontend/app/src/main/res/layout/dialog_info.xml
  frontend/app/src/main/res/layout/fragment_circular.xml
  frontend/app/src/main/res/layout/fragment_station.xml
  frontend/app/src/main/res/values/colors.xml
  frontend/app/src/main/res/values/dimens.xml
  frontend/app/src/main/res/values/strings.xml
Labels: frontend
